.progress_wrapper {
    position: fixed;
    max-width: var(--maxWidth);
    width: 100vw;
    top: 108px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#progress_bar {
    position: absolute;
    width: 33%;
    height: 5px;
    z-index: 2;
}

.progress_wrapper .light {
    background-color: #0bd0bd;
}

.progress_wrapper .dark {
    background-color: #ff770f;
}